.filter-title-error{
    color:red;
    font-weight: bold; 
}

.aaa{
    color:red;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 26px;
    font-weight: bold;
}